body {
    background-color:white;
}
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import './base/settings';
@import './base/base';
@import './components/login-page';
@import './components/home';
@import './components/quiz-instructions';
@import './components/play';
@import './components/quiz-summary';
